name: Sanitize and optimize SVGs
on:
    pull_request:
        types: [reopened, ready_for_review, review_requested]
        branches: [master, main, develop]
        paths:
            - "**.svg"
            - "svgo.config.mjs"
    push:
        branches: [master, main, develop, feature/**]
        paths:
            - "**.svg"
            - "svgo.config.mjs"
    workflow_dispatch:
    schedule:
        - cron: "00 23 * * 0"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions: {}

jobs:
    svgOptimization:
        name: Sanitize and optimize SVGs
        runs-on: ubuntu-latest
        timeout-minutes: 20

        permissions:
            contents: write # to write commits
            id-token: write # Enable OIDC for Gitsign
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
              with:
                  egress-policy: audit
                  disable-telemetry: "true"
                  disable-sudo: "true" # runs on container so same issue as zizmor
            - name: Optimize Git config for CI
              run: |
                  # Disable compression for faster network transfer.
                  git config --global core.compression 0 
                  # Turn off fsync
                  git config --global core.fsync -all
            - name: Checkout Branch
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
                  persist-credentials: true
                  sparse-checkout: |
                      **.svg
                      svgo.config.mjs
                  sparse-checkout-cone-mode: false
                  filter: "blob:none"
            - run: ls -la
            - name: Detect changed SVGs
              uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
              id: svg_changes
              with:
                  list-files: shell
                  # Filter only added or modified svg files
                  filters: |
                      svg:
                          - added|modified: '**/*.svg'
            - run: |
                  echo "SVG changes detected: ${{ steps.svg_changes.outputs.svg_files }}"
            - uses: chainguard-dev/actions/setup-gitsign@18e5e3427cf9d6bcfbefe60dca48e40292f000c5 # v1.5.13
            - name: Use Node.js
              if: steps.svg_changes.outputs.svg == 'true'
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                  node-version: 24.12.0
            - name: Install SVGO
              if: steps.svg_changes.outputs.svg == 'true'
              run: npm install -g svgo@4
            - name: Sanitize and optimize SVGs with SVGO
              if: steps.svg_changes.outputs.svg == 'true'
              run: |
                  for file in ${{ steps.svg_changes.outputs.svg_files }}; do
                      echo "Optimizing $file"
                      svgo --multipass --quiet --config svgo.config.mjs --input "$file"
                  done
            - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
              if: steps.svg_changes.outputs.svg == 'true'
              with:
                  commit_message: "chore(svg): sanitize and optimize SVGO"
                  file_pattern: "**.svg"
