# Will run in the following scenarios:
# - on Pull Requests NOT on draft containing images (not including forks)and aiming at `main`, `master` or `develop`
# - on pushing of images to `main`, `master` or `develop`
# - on demand via workflow_dispatch
# - at 11 PM every Sunday in anything gets missed with any of the above scenarios
# For Pull Requests, the images are added to the PR.
# For other scenarios, a new PR will be opened if any images are compressed.
name: Compress images
on:
    pull_request:
        types: [reopened, ready_for_review, review_requested]
        branches: [master, main, develop]
        paths:
            - "**.svg"
            - "svgo.config.mjs"
    push:
        branches: [master, main, develop, feature/**]
        paths:
            - "**.svg"
            - "svgo.config.mjs"
    workflow_dispatch:
    schedule:
        - cron: "00 23 * * 0"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions: {}

jobs:
    svgOptimization:
        name: Sanitize and optimize SVGs
        runs-on: ubuntu-latest
        timeout-minutes: 20

        permissions:
            contents: write # to write commits
            id-token: write # Enable OIDC for Gitsign
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
              with:
                  egress-policy: audit
                  disable-telemetry: "true"
                  disable-sudo: "true" # runs on container so same issue as zizmor
            - name: Optimize Git config for CI
              run: |
                  # Disable compression for faster network transfer.
                  git config --global core.compression 0 
                  # Turn off fsync
                  git config --global core.fsync -all
            - name: Checkout Branch
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
                  persist-credentials: true
                  sparse-checkout: |
                      **.svg
                  sparse-checkout-cone-mode: false
                  filter: "blob:none"
            - run: ls -la
            - uses: chainguard-dev/actions/setup-gitsign@18e5e3427cf9d6bcfbefe60dca48e40292f000c5 # v1.5.13
            - name: Use Node.js
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                  node-version: 24.12.0
            - name: Install SVGO
              run: npm install -g svgo@4
            - name: Sanitize and optimize SVGs with SVGO
              run: svgo --multipass --quiet --config svgo.config.mjs -f .
            - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
              with:
                  commit_message: "chore(svg): sanitize and optimize SVGO"
                  file_pattern: "**.svg"
