name: Verify GitHub Actions integrity
on:
  pull_request:
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  verify-actions:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      pull-requests: write # write permission to comment back to PR in case of verify job failure
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: "true"
          disable-sudo-and-containers: "true"
      - name: Optimize Git config for CI
        run: |
          # Disable compression for faster network transfer.
          git config --global core.compression 0 
          # Turn off fsync
          git config --global core.fsync -all
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}   # checkout the PR branch so commits land on the PR
          persist-credentials: false
          sparse-checkout: |
            .github
          filter: "blob:none"
      - uses: gjtorikian/gh-actions-lockfile@24be31e941fc36df78f82762cd45c28b4cbcaedd # v1.2.0
        with:
          mode: verify
          coment: true
          workflows: ".github/workflows"
          output: ".github/actions.lock.json"

  update-lockfile:
    needs: verify-actions
    if: failure()
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: write # to write lockfile back
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: "true"
          disable-sudo-and-containers: "true"
      - name: Optimize Git config for CI
        run: |
          # Disable compression for faster network transfer.
          git config --global core.compression 0 
          # Turn off fsync
          git config --global core.fsync -all
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}   # checkout the PR branch so commits land on the PR
          persist-credentials: true # so it can push back the lockfile
          sparse-checkout: |
            .github
          filter: "blob:none"
      - uses: gjtorikian/gh-actions-lockfile@24be31e941fc36df78f82762cd45c28b4cbcaedd # v1.2.0
        with:
          mode: generate
          require-sha: true
          workflows: ".github/workflows"
          output: ".github/actions.lock.json"
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "chore(ci): update actions lockfile"
          file_pattern: ".github/actions.lock.json"
