name: Deploy Zensical site to GitHub Pages
on:
  push:
    branches: [master, main, develop]
    paths:
      - "docs/zensical/**"
      - zensical.toml
      - ".github/workflows/zensical-site.yml"
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment'
        required: true
        default: github-pages

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  deployToGitHubPages:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          sparse-checkout: |
            zensical.toml
            docs/zensical/**
          sparse-checkout-cone-mode: false
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.x
      - run: pip install zensical
      - run: zensical build --clean
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: site/zensical
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
